.icon-info {
    padding: 15px;
    color: inherit;
}

#game-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-rows: repeat(3, 20vmin);
    grid-template-columns: repeat(3, 20vmin);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.game__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18vmin;
    line-height: 1;
    text-align: center;
    border-top: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    cursor: pointer;
}
